*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./images/backLogo.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 900px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 15px;
    padding: 20px 40px;
}
.word{
    color: rgb(35, 161, 161);
}
.wordColor{
    color: blue;
}
.wrapper h3{
    font-size: 25px;
    text-align: justify;
    margin-left: 100px;
}