     * {
        margin: 10px;
        padding: 0px;
        box-sizing: border-box;
    }
    #header {
        background-color: #1e2d3b; /* Set the background color */
        padding: 10px; /* Add padding to provide some space around the images */
        text-align: left;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        border-radius: 15px;
        display: flex; /* Use flexbox to arrange the images horizontally */
        align-items: center; /* Align items vertically in the center */
    }
    
    #header img {
        width: auto; /* Ensure images adjust to their natural width */
        height: 50px; /* Set the height of the images */
        margin-right: 10px; /* Add margin between images for spacing */
    }
    
    
    #videos {

        display: flex; /* Use flexbox to arrange the videos */
        height: 85vh;
        overflow: hidden;
        padding: 0px;
    }
    
    .video-container {
        padding-top: 20px;
        flex: 1; /* Expand to fill available space */
        position: relative; /* Enable relative positioning */
    }
    
    .video-player {
        padding-top: 20px;
        background-color: black;
        width: 35%; /* Adjust width to 50% for side-by-side layout */
        height: calc(80vh - 80px); /* Adjust height accordingly */
        object-fit: cover;
        border: 2px solid #4565a4;
        border-radius: 15px;
        padding: 0px;
        
    }
    .player-name {
        position: absolute;
        bottom: 10px; /* Adjust as needed */
        left: 0;
        width: 100%;
        text-align: center;
        color: #000; /* Adjust color as needed */
        font-size: 14px; /* Adjust font size as needed */
    }
    
    
    #user-2 {
        display: none;
    }
    
    .smallFrame {
        position: left; /* Position the small video frame absolutely */
        top: 0px;
        padding: 0px;
        left: 20px; /* Position the small frame on the left side */
        height: calc(80vh - 80px); /* Make small frame full height minus padding */
        width: 35%; /* Adjust width to 50% for side-by-side layout */
        border-radius: 15px;
        border: 2px solid #4565a4;
        background-color: black;
        
        z-index: 999;
    }
    #controls {
        position: fixed;
        padding: 5px;
        bottom: -30px;
        left: 38%;
        transform: translateX(-60%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        z-index: 1000; /* Ensure it's above other elements */
    }
    
    .control-container {
        background-color: #1e2d3b;
        padding: 10px; /* Increase padding for better spacing */
        border-radius: 50%; /* Make the container circular */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease; /* Smooth transition for background color */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    }
    
    .control-container:hover {
        background-color: rgb(25, 73, 98); /* Darken the background color on hover */
        transform: scale(1.1);
    }
    
    .control-container img {
        visibility: visible;
        height: 20px;
        width: 20px;
    }
    
    #leave-btn {
        background-color: rgb(255, 80, 80, 1);
        
    }
    
    

    
    @media screen and (max-width: 1400px) {
        #videos {
            flex-direction: column; /* Stack videos vertically for smaller screens */
        }
        
        .smallFrame {
            position: static; /* Reset position for small frame */
            height: 170px; /* Reset height for small frame */
            width: 100%; /* Make small frame full width */
        }
        
        .video-container, .video-player {
            width: 100%; /* Adjust video container and player width for smaller screens */
        }
    }

    /* Dark mode styles */
/* Dark mode styles */
.dark-mode {
    background-color: #0E151B; /* Dark background color */
    color: #fff; /* Light text color */

}

    /* Style for the dark mode icon container */
.theme-toggle {
    position: absolute;
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color :#585959; /* Set background color */
    border-radius: 50px; /* Add border radius for rounded corners */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    cursor: pointer;
    padding: 20px;
    bottom: -2px;
}
.theme-toggle:hover {
    background-color: rgba(139, 138, 146, 0.9); /* Darken the background color on hover */
    transform: scale(1.1);
}

/* Style for the dark mode icon */
.theme-toggle img {
    width: 30px; /* Adjust width as needed */
    height: 30px; 
}

#chat-display {

    background-color: #706e6e;
    /* border: 1px solid #4565a4; */
    border-radius: 15px;
    padding: 10px;
    height: 450px; /* Adjust height as needed */
    width: 300px;
    overflow-y:auto; /* Enable vertical scrolling */
    margin-bottom: 20px; /* Add space between chat display and input box */
    position: absolute; /* Positioning the chat display */
    top: 120px;
    bottom: 120px; /* Adjust bottom spacing as needed */
    right: 20px; /* Adjust right spacing as needed */
    z-index: 9999; /* Adjust as needed to ensure it's above other elements */
   
    
}

/* Chat Input Box */
#chat-input {
    width: calc(21% - 22px); /* Adjust width to account for padding and border */
    padding: 8px; /* Add padding to the input box */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Add space between chat input box and other elements */
    position: fixed; /* Positioning the chat input box */
    bottom: 20px; /* Adjust bottom spacing as needed */
    right: 20px; /* Adjust right spacing as needed */
    
}
/* Styling for the settings button */
.settings {
    width: 45px; /* Adjust width as needed */
    height: 45px; /* Adjust height as needed */
    cursor: pointer; /* Set cursor to pointer on hover */
    position: absolute; /* Position the button relative to the viewport */
    top: 25px; /* Adjust distance from the top as needed */
    right: 75px; /* Adjust distance from the right as needed */
    z-index: 9999; /* Ensure the button is above other content */
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

.settings img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
}

/* Add hover effect */
.settings:hover {
    transform: scale(1.1); /* Increase size on hover */
    
}

#screen {
    left: 80px;
    position: absolute;
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color :#656666; /* Set background color */
    border-radius: 50px; /* Add border radius for rounded corners */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    cursor: pointer;
    padding: 20px;
    bottom: -2px;
}
#screen.active {
    background-color:rgb(17, 133, 161);
}

#screen img {
    width: 40px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

#screen:hover {
    background-color: rgba(139, 138, 146, 0.9); /* Darken the background color on hover */
    transform: scale(1.1);
     
}




/* update this part
/* Initial display settings */
.settings-panel, .audio-settings-box, .video-settings-box, .screen-share-settings-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color:hsl(236, 66%, 14%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    z-index: 999; /* Ensure it's above other content */
    color: #fff; 
}

/* Settings header styles */
.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.settings-header h2 {
    font-size: 18px;
    margin: 0;
}

.close-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff; 
}

.setting-button {
    display: block; /* Ensure buttons are displayed as block elements */
    width: 100%; /* Make buttons full width */
    padding: 10px;
    margin-bottom: 10px;
    background-color: hsl(238, 54%, 22%); /* Greenish color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff; /* White font color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.setting-button:hover {
    background-color: hsl(233, 45%, 28%);
}

/*