.balls-container {
    position: relative; /* or absolute, depending on your layout */
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
  }
  
  .ball {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(135deg, #87ceeb, #4169e1);
  }
  
  .ball1 {
    top: 50px;
    left: 50px;
    animation: move1 5s infinite alternate;
  }
  
  .ball2 {
    bottom: 50px;
    right: 50px;
    animation: move2 5s infinite alternate;
  }
  .ball3 {
    bottom: 50px;
    left: 50px;
    animation: move2 5s infinite alternate;
  }
  
  @keyframes move1 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(25%, -50%);
    }
    100% {
      transform: translate(100%, 100%);
    }
  }
  
  @keyframes move2 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-25%, 50%);
    }
    100% {
      transform: translate(50%, 80%);
    }
  }
  