

*{
  font-family: "Poppons",sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  position: relative; 
  height: 100vh;
}


.object-cover{
  display: flex;
  object-fit: cover; 
  right: 100%;
  
}
.background_img{
  position:fixed; 
  top: 25%;  
  right: 10%;
  width: 700px;
  height: 580px;
  overflow: hidden;
}

.main_login{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.title{
  display: flex; 
  position: relative;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  z-index: 10; 
  padding: 0 24px; 
  max-width: 90vw; 
  margin: 0 auto;
}

.main_title{
  display: flex; 
  position: relative;
  flex-direction: column; 
  
  padding-bottom: 32px;
}

.main_details{
  padding: 32px;
  width: 400px;
}

.login_detail{
  padding-bottom: 32px;
  align-items: center; 
  justify-content: center; 
}

.main_name{
  font-size: 56px; 
  font-weight: bold; 
  justify-content: center;
  align-items: center;
  color: rgb(4, 38, 76);
}

.welcome{
  font-size: 26px; 
  color: rgb(11, 38, 101); 
  margin-top: -8px
}

.text-white{
  color: rgb(31, 117, 151);
}

.lobby_code{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: left;
  position: relative;
}

.lable{
  font-size: 30px; 
  font-weight: bold;
}

.input_code{
  padding: 10px 16px; 
  border-radius: 9999px; 
  max-width: 14rem; 
  margin-top: 0.5rem; 
  outline: none;
}

.submit_button{
  background-color: #3b82f6; 
  color: white; 
  font-weight: bold; 
  width: 5rem; 
  padding: 5px; 
  border-radius: 9999px; 
  margin-top: 0.5rem; 
  transition-duration: 0.1s; 
  transition-timing-function: ease-out;
}

.M4HRY2n7rpNAd1UjDNZe{
  display: block;
}

.aUBcrib1jsrHTK9vhlVZ{
  
}
.QAHxuJxRZWb3P_cbR8QA{
  display: block;
}


.vjwEXnTmP6jAK8LlvWL_ .QYvze2FiFrLlotTk5Iz7{   /*  Mic Button  */
  border-radius:100%;
}
.vjwEXnTmP6jAK8LlvWL_ .Wlqv8YhEAE9OzBkKuKjg{    /*  Camera Button  */
  border-radius:100%;
}
.vjwEXnTmP6jAK8LlvWL_ .UbpDhvufmId2nxL2l5gC{    /*  Screen Share Button  */
  border-radius:100%;
}
.vjwEXnTmP6jAK8LlvWL_ .eLS4omBUBKIdRuH3vIbv{    /*  Setting and Layout Button  */
  border-radius:100%;
}
.vjwEXnTmP6jAK8LlvWL_ .QeMJj1LEulq1ApqLHxuM{    /*  Leave Button  */
  border-radius:100%;
  width: 18px;
}

.JtRS8dNV0vDLnpBoA6kZ .QbarJSxzhe6iPp6VdlAs{    /*  Info Button  */
  border-radius: 100%;
}
.JtRS8dNV0vDLnpBoA6kZ .qJdF_iTl1gv6JkFZmE2R{     /*  Participate Button  */
  border-radius: 100%;
}

.JtRS8dNV0vDLnpBoA6kZ .aUBcrib1jsrHTK9vhlVZ{     /*  Message Button  */
  border-radius: 100%;
  
}

.n6GuqIk3cK3cSgL5gW1Z, .n6GuqIk3cK3cSgL5gW1Z{

}
  .UYkwihM45bjIVQZSfpze{
    display: none;
  }