

*{
  font-family: "Poppons",sans-serif;
}
body {
  margin: 0;
  background-color: #0E151B;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title{
  display: flex; 
  position: relative;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  z-index: 10; 
  padding: 0 24px; 
  max-width: 90vw; 
  margin: 0 auto;
}

.main_title{
  display: flex; 
  position: relative;
  flex-direction: column; 
  
  padding-bottom: 32px;
}

.main_details{
  padding: 32px;
  width: 400px;
  }

.login_detail{
 
  align-items: center; 
  justify-content: center; 
}

.main_name{
  font-size: 56px; 
  font-weight: bold; 
  justify-content: center;
  align-items: center;
  color: rgb(4, 38, 76);
}

.welcome{
  font-size: 26px; 
  color: rgb(11, 38, 101); 
  margin-top: -8px
}

.text-white{
  color: rgb(31, 117, 151);
}

.lobby_code{
  position: relative;
  width: 50%;
  height: 50px;
  margin: 5px 0;
}

.lable{
  font-size: 20px; 
  font-weight: bold;
  margin-top: 0.1px;
}

.input_code{
  width: 190%;
  height: 60%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(5, 0, 1, 0.751);
  border-radius: 40px;
  font-size: 16px;
  color: rgb(10, 0, 0);
}

.lobby_code select{
  width: 195%;
  height: 70%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(5, 0, 1, 0.751);
  border-radius: 40px;
  font-size: 16px;
  color: rgb(206, 3, 3);
  text-align: justify;
}

.submit_button{
  width: 70%;
  height: 40px;
  margin-top: 10px;
  margin-left: 40px;
  background: #464ef2;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  transition-duration: 0.1s; 
  transition-timing-function: ease-out;
}


/*.logo{
  position: absolute; 
  top: 0; 
  left: 0; 
  height:15%; 
  width: 100%;
  overflow: hidden;
  background-color:#1c1c1c;
}*/
.vjwEXnTmP6jAK8LlvWL_ .QYvze2FiFrLlotTk5Iz7{   /*  Mic Button  */
  border-radius:100%;
}
.vjwEXnTmP6jAK8LlvWL_ .Wlqv8YhEAE9OzBkKuKjg{    /*  Camera Button  */
  border-radius:100%;
}
.vjwEXnTmP6jAK8LlvWL_ .UbpDhvufmId2nxL2l5gC{    /*  Screen Share Button  */
  border-radius:100%;
}
.vjwEXnTmP6jAK8LlvWL_ .eLS4omBUBKIdRuH3vIbv{    /*  Setting and Layout Button  */
  border-radius:100%;
}
.vjwEXnTmP6jAK8LlvWL_ .QeMJj1LEulq1ApqLHxuM{    /*  Leave Button  */
  border-radius:100%;
  width: 18px;
}

.JtRS8dNV0vDLnpBoA6kZ .QbarJSxzhe6iPp6VdlAs{    /*  Info Button  */
  border-radius: 100%;
}
.JtRS8dNV0vDLnpBoA6kZ .qJdF_iTl1gv6JkFZmE2R{     /*  Participate Button  */
  border-radius: 100%;
}

.JtRS8dNV0vDLnpBoA6kZ .aUBcrib1jsrHTK9vhlVZ{     /*  Message Button  */
  border-radius: 100%;
  
}

.n6GuqIk3cK3cSgL5gW1Z, .n6GuqIk3cK3cSgL5gW1Z{

}
.UYkwihM45bjIVQZSfpze{
  display: none;
}
.dark-custom-class {
  color: #000000 !important;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
.light-custom-class {
  color: #ffffff !important;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
.light-setting-class {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 478px;
  height: 346px;
  background: #ffffff;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0px rgba(79,79,83,0.75);
}
.dark-setting-class {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 478px;
  height: 346px;
  background: #000000;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0px rgba(79,79,83,0.75);
}
.theme-icon.fa-sun {
  color: white; /* Change color to white */
}
.theme-button{
  background-color: transparent;
  width: 40px;
  height: 40px;
}
.theme-icon.fa-moon:hover {
  color: rgb(170, 188, 247); /* Change color to white */
}
.theme-icon.fa-sun :hover{
  color: rgb(170, 188, 247); 
}

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }
