.body-home {
    background-image: url('gback.avif'); /* Path to your background image */
    background-size: cover;
    background-position: center;
}
.main{
    position: relative; 
    height: 100vh;
  }
  
  
  .object-cover{
    /*
    display: flex;
    object-fit: cover; 
    right: 100%;
    */
  }
  .background_img{
    /*position:fixed; 
  
    */
    
    
  }
  
  .main_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10%;
    background-color: aliceblue;
    position: fixed; 
    width: 1100px;
    height: auto; 
    border-radius: 30px;
  }
  .themebutton{
    width: 50px;
    height: 50px;
    background-color: #fff;
    transition: 0.3s ease;
  }
  .themebutton:hover{
    background-color: rgb(198, 209, 255);
  }
  .logo{
    width: 360px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: none;
    position: absolute;
    top: 15px;
    left: 5px;
  }
  .main_name{
    font-size: 55px;
    text-align: justify;
    margin-left: 40px;
    margin-top: 10px;
    color: blue;
    font-family: poppins;
  }
  .line{
    background-color: rgb(5, 4, 4);
    line-height: 2px;
  }
